.wrapper {
    min-height: calc(100vh - 15px);
    margin: 15px auto 0;
}

.custom-background-color {
    display: none;
}

.save-after-edit {
    display: none;
}

.hide-dropdown {
    display: block;
}

.edit-change-color {
    background: rgba(131, 241, 76, 0.28);
    border-radius: 6px;
}

.hide-select-priority {
    display: none;
}

.hide-prior-date {}

.group-list {
    cursor: pointer;
}